{{#if this.hasTopics}}
  <section>
    <a href={{this.c.url}}>
      {{#unless this.c.isMuted}}
        {{#if this.c.uploaded_logo.url}}
          {{cdn-img
            src=this.c.uploaded_logo.url
            class="logo"
            width=this.c.uploaded_logo.width
            height=this.c.uploaded_logo.height
          }}
        {{/if}}
      {{/unless}}

      <h2 id="custom-category-title">
        {{category-title-before category=this.c}}
        {{#if this.c.read_restricted}}
          {{d-icon "lock"}}
        {{/if}}
        {{this.c.name}}
        ({{this.c.topic_count}})
      </h2>
    </a>
    {{#unless this.c.isMuted}}
      <div class="custom-featured-topics">
        {{#if this.c.topics}}
          <ul>
            {{#each this.c.topics as |topic|}}
              {{categories-boxes-topic topic=topic}}
            {{/each}}
          </ul>
        {{/if}}
      </div>
    {{/unless}}
  </section>

  <a class="custom-category-more-link" href={{this.c.url}}>More topics...</a>
{{/if}}