{{#if hasTopics}}
  <section>
      <a href={{c.url}}>
      {{#unless c.isMuted}}
        {{#if c.uploaded_logo.url}}
          {{cdn-img src=c.uploaded_logo.url
              class="logo"
              width=c.uploaded_logo.width
              height=c.uploaded_logo.height}}
        {{/if}}
      {{/unless}}

      <h2 id="custom-category-title">
        {{category-title-before category=c}}
        {{#if c.read_restricted}}
          {{d-icon 'lock'}}
        {{/if}}
        {{c.name}}
        ({{c.topic_count}})
      </h2>
    </a>
    {{#unless c.isMuted}}
    <div class='custom-featured-topics'>
    {{#if c.topics}}
      <ul>
        {{#each c.topics as |topic|}}
          {{categories-boxes-topic topic=topic}}
        {{/each}}
      </ul>
    {{/if}}
    </div>
    {{/unless}}
  </section>

  <a class="custom-category-more-link" href={{c.url}}>More topics...</a>
{{/if}}
